@import '../../../scss/variables/variables.scss';

.questions {
  .questions-content {
    .carousel {
      .carousel-indicators {
        display: none;
      }
      .carousel-control-prev, .carousel-control-next {
        i {
          color: $default-color;
          font-size: 5rem;
        }
      }
      .carousel-control-next {
        i {
          color: $default-color;
        }
      }
    }
    .disabled {
      background-color: $disabled;
      cursor: not-allowed; 
    }
    .submit-questions-form {
      position: absolute;
      right: 2rem;
      padding: 4px 1rem;
      border: unset;
      font-size: 1.2rem;
    }
  }
  .submit-questions-form {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}