@import '../../../scss/variables/variables.scss';

.spinner-container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  .loading-spinner{
    color: $default-color;
    width: 7rem;
    height: 7rem;
  }
}
