@import '../../../scss/variables/variables.scss';

.candidate-data {
  width: 50%;
  padding: 0rem 1rem;
  .candidate-container {
    border-top: 1px solid $default-color;
    border-bottom: 1px solid $default-color;
    padding: 1rem 2rem 2rem;
    cursor: pointer;
    &:hover {
      .data-header {
        .icon {
          i {
            color: black;
          }
        }
      }
    }
    .data-header {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      .icon {
        margin-right: 2rem;
        i {
          color: $default-color;
          font-size: 4rem;
          transition: 0.3s;
        }
      }
      .data-name {
        .label {
          p {
            font-weight: bold;
            margin: 0;
            color: $disabled;
          }
        }
        .name {
          p {
            margin: 0;
          }
        }
      }
    }
    .email-label, .type-label {
      p {
        font-weight: bold;
        margin: 0;
        color: $disabled;
      }
    }
    .email, .type {
      p {
        margin: 0;
      }
    }
  }
}

.footer-interv {
  display: flex;
  justify-content: space-between;
  .delete-interv {

  }
}