@import '../fonts/latofonts.scss';

// Fonts
$lato: 'LatoWeb', Fallback, sans-serif;
$lato-light: 'LatoWebLight', Fallback, sans-serif;

// Colores
$default-color: #6801A9;
$button-primary: #4C89F4;
$button-danger: #EF4040;
$disabled: #A1A1A1;